<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.my.vibras">
    <queries>
        <provider android:authorities="com.facebook.katana.provider.PlatformProvider"/>
    </queries>
    <!--  allows app to access Facebook app features  -->
    <application
        android:name="com.my.vibras.VideoCalling.AppController"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VIBRAS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.my.vibras.act.ForgetPasswordAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.FriendProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.chat.GroupChat.GroupChatInnerActivity"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.AudioCalling.CallWaitingActivity"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.AudioCalling.VoiceChatViewActivity"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.VideoCalling.VideoCallingAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.VideoCalling.IncomingCallActivity"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.chat.ChatInnerMessagesActivity"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.AboutUsAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.PrivacyPolicyAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.ViewAllGroupsAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.HelpAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.ViewAllCategoryAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.GetEventsByCategoryIdAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.ui.GroupDetailAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.GroupChatAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.CreateGroupAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.GoodVibesAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.SearchConversationUserAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.ViewAllEventAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.SearchRestAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.RestaurantAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.SearchEventAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.SavedEventsAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.SavedRestaurantAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.RestaurantDetailAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.StoryDetailAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.AddCommentAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.CreatePostAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.AddRestaurantCommentAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.AddEventCommentAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.ChangePassAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.Company.ComapmnySettingAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.Company.HomeComapnyAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.my.vibras.act.NotificationScreenAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.AddPaymentCard"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.SubsCriptionAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.PaymentsAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.TermsCondition"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.TransactionAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.EditProfileAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.PostCommentAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.AllCommentsAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.EventsDetailsScreen"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.SettingAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.ChatDetailsScreen"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.FriendListAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.FilterAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.act.SearchAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.my.vibras.LikeInterestsAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.VerificationAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.TakeSelfieAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.CompleteSignUpAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.SignUpAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.LoginAct"
            android:exported="false" />
        <activity
            android:name="com.my.vibras.SelectViberLoginAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.my.vibras.act.HomeUserAct"
            android:exported="true"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.my.vibras.VideoCalling.CallNotificationActionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="ConstantApp.CALL_RECEIVE_ACTION" />
                <action android:name="ConstantApp.CALL_CANCEL_ACTION" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.my.vibras.VideoCalling.HeadsUpNotificationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.my.vibras.utility.VibrasNotification"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.my.vibras.VideoCalling.IncomingCallService"
            android:enabled="true"
            android:exported="true" />
    </application>

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.    READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove"/>

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

</manifest>